<form (ngSubmit)="formAddRecipe.form.valid && addRecipe()"
      #formAddRecipe="ngForm" novalidate>

  <div class="form-group"
       [ngClass]="{ 'has-error': formAddRecipe.submitted && !inputName.valid }">
    <label for="inputName" class="control-label">Name: </label>
    <div class="input-group">
      <input type="text" class="form-control" id="inputName"
             name="inputName" placeholder="Name"
             [(ngModel)]="recipe.name" #inputName="ngModel" required>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formAddRecipe.submitted && !inputDescription.valid }">
    <label for="inputDescription" class="control-label">Description: </label>
    <div class="input-group">
      <input type="text" class="form-control" id="inputDescription"
             name="inputDescription" placeholder="Description"
             [(ngModel)]="recipe.description" #inputDescription="ngModel" required>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formAddRecipe.submitted && !inputImage.valid }">
    <label for="inputImage" class="control-label">Image</label>
    <div class="input-group">
      <input type="url" class="form-control" id="inputImage"
             name="inputImage" placeholder="Url"
             [(ngModel)]="recipe.imageUrl" #inputImage="ngModel" required>
    </div>
  </div>
    <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>

