<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" href="/recipes/add">{{newRecipe | addPlus:1 }}</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [class.selected]="recipe === selectedRecipe" (click)="onSelect(recipe)"></app-recipe-item>
    </ul>
  </div>
</div>
<div class="row" align="center"><app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail></div>

